
.venv/


__pycache__/
*.py[cod]


.ipynb_checkpoints/
task_01_mnist_classification/.ipynb_checkpoints
task_02_nlp_cv_pipeline/.ipynb_checkpoints

.idea/

*.log
.env

task_01_mnist_classification/main_tester.py

task_02_nlp_cv_pipeline/models/universal.py


task_02_nlp_cv_pipeline/data/img/images_preprocessed/butterfly
task_02_nlp_cv_pipeline/data/img/images_preprocessed/cat
task_02_nlp_cv_pipeline/data/img/images_preprocessed/chicken
task_02_nlp_cv_pipeline/data/img/images_preprocessed/cow
task_02_nlp_cv_pipeline/data/img/images_preprocessed/dog
task_02_nlp_cv_pipeline/data/img/images_preprocessed/elephant
task_02_nlp_cv_pipeline/data/img/images_preprocessed/horse
task_02_nlp_cv_pipeline/data/img/images_preprocessed/sheep
task_02_nlp_cv_pipeline/data/img/images_preprocessed/squirrel
task_02_nlp_cv_pipeline/data/img/images_preprocessed/zebra

task_02_nlp_cv_pipeline/data/img/images_raw

task_02_nlp_cv_pipeline/data/img/img_processor.py

task_02_nlp_cv_pipeline/testers.py

task_02_nlp_cv_pipeline/weights/ner_model_weights.h5
